.grade-container{
    width: 100%;
    color:#333;
    display:table;
}
.subject,.unit{
    display: table-cell;
}
.subject{
    width:80%;
    color:#c0392b;
}
.unit{
    width:20%;
    vertical-align: middle;
    border-left:1px solid rgba(50,50,50,0.1)
}
.unit-label{
    display:block;
    font-size: .7em;
    font-style: italic;
    color:#333;
}